/* gray */

@mk-table-row-hover-bg:#f7f7f7;
@mk-input-color:#333;
@mk-label-color:#757575;
@mk-table-header-color:#555;
@mk-btn-default-border:#e1e1e1;
@mk-btn-gray-bg:#f7f7f7;
@mk-btn-gray-hover-bg:#eee;
@mk-btn-gray-disabled:#f9f9f9;
@mk-btn-disabled-bg:#f7f7f7;


/* blue */

@mk-background-color-light:#f5fbff;
@mk-border-color-split-light:#1199ff;
@mk-table-selected-row-bg:#f0faff;
@mk-table-header-hover-bg:#d6f0ff;
@mk-input-hover-color:#3296fa;
@mk-btn-primary-bg:#1199FF;
@mk-btn-primary-disabled-bg: rgba(17,153,255,0.50);
@mk-btn-primary-disabled-bor: rgba(17,153,255,0);
@mk-btn-text-hover-color:#2074D4;
@mk-color:#3296fa;
@mk-color-middle:#1199FF;
@mk-color-deep:#0088FF;
@mk-color-disabled:rgba(17,153,255,0.50);


/* red */

@mk-text-danger:#FF0000;
@mk-text-danger-hover:#D0021B;
@mk-text-danger-disabled:rgba(255,0,0,0.5);

